@font-face {
    font-family: lotrFont;
    src: url(../../fonts/Middleearth-ao6m.ttf);
  }

.empty_state__wrapper {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    margin-top: 3rem;
    
    h1 {
      font-size: 1.5rem;
    }

    .params_wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      span {
        font-family: lotrFont;
        color: black;
        padding: 0.5rem;
      }
    }

    span {
      font-family: lotrFont;
      color: black;
    }
}

.empty_state_image {
    width: 15rem;
    height: 15rem;
    background: url('../../images/empty-state.svg');
    background-repeat: no-repeat;
    background-position: center;
}