@font-face {
  font-family: lotrFont;
  src: url(../../fonts/Middleearth-ao6m.ttf);
}

.character_wrapper {
width: fit-content;
height: fit-content;
margin: 0 3rem 2rem 3rem;
}

.character {
border: solid;
padding: 3rem 1.5rem 0 1.5rem;
min-width: auto;
min-height: 35rem;
display: flex;
flex-direction: column;
align-items: center;
border-image-width: auto;
border-image-source: url('../../images/border-card.svg');
border-image-slice: 30%;
border-image-outset: 3rem;
}

.image {
height: 15rem;
width: 15rem;
background: url('../../images/The_one_ring.jpg');
background-position: center;
background-size: cover;
border-radius: 50%;
border: solid;
border-image-width: auto;
border-image-source: url('../../images/the-one-ring-2-logo-svg-vector.svg');
border-image-slice: 50%;
border-image-outset: 3rem;
margin-bottom: 3rem;
}

p {
font-family: lotrFont;
text-align: center;
padding-left: 0.5rem;
padding-right: 0.5rem;
}

p a {
width: 20rem;
display: block;
color: black;
padding-bottom: 2rem;
word-wrap: break-word;
}

@media (max-width: 30rem) {
  .character {  
    border-image-slice: 30%;
    border-image-outset: 1rem;  
  }

  .image {
    height: 12rem;
    width: 12rem;
    border-image-outset: 2rem;
  }
}

@media (max-width: 25rem) {
  .character {  
    min-height: 22rem;
    border-image-slice: 30%;
    border-image-outset: 0rem;
    padding: 4rem 2.5rem 0 2.5rem;
    width: 22rem;
  }

  .image {
    height: 7rem;
    width: 7rem;
    border-image-outset: 1.5rem;
    margin-bottom: 0;
  }

  p a {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    }
}

@media (max-height: 38rem) {
  .character {  
    min-height: 22rem;
    border-image-slice: 30%;
    border-image-outset: 0rem;
    padding: 4rem 2.5rem 0 2.5rem;
    width: 22rem;
  }

  .image {
    height: 7rem;
    width: 7rem;
    border-image-outset: 1.5rem;
    margin-bottom: 0;
  }

  p a {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    }
}

@media (max-height: 45rem) {
  .character {  
    min-height: 22rem;
    border-image-slice: 30%;
    border-image-outset: 0rem;
    padding: 4rem 2.5rem 0 2.5rem;
    width: 22rem;
  }

  .image {
    height: 10rem;
    width: 10rem;
    border-image-outset: 1.5rem;
    margin-bottom: 0;
  }

  p a {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-bottom: 2.5rem;
    }
}

@media (max-height: 42rem) {
  .character {
    padding-top: 1rem;
  }
  .image {
    margin-top: 2rem;
    height: 5rem;
    width: 5rem;
  }
}

@media (max-height: 22.5rem) {
  .character {  
    min-height: 22rem;
  }

  .image {
    height: 6rem;
    width: 6rem;
    border-image-outset: 1.5rem;
    margin-bottom: 0;
    margin-top: 2rem;
  }

  p {
    font-size: 0.8rem;
    }

  p a {
    font-size: 0.6rem;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 2rem;
    }
}

@media (max-width: 17.5rem) {
  .character {  
    min-height: 16rem;
    border-image-slice: 30%;
    border-image-outset: 0rem;
    padding: 2rem 2.5rem 0 2.5rem;
    width: 15rem;
    
    & h1 {
      font-size: 0.8rem;
      margin-bottom: 0.5rem;
      margin-top: 1.5rem;
    }
  }

  .image {
    height: 4rem;
    width: 4rem;
    border-image-outset: 1.0rem;
    margin-bottom: 0;
    margin-top: 0;
  }

  p {
    font-size: 0.8rem;
    }

  p a {
    font-size: 0.6rem;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 2rem;
    }
}

@media (max-height: 17.5rem) {
  .character {  
    min-height: 12rem;
    border-image-slice: 30%;
    border-image-outset: 0rem;
    padding: 2rem 2.5rem 0 2.5rem;
    width: 24rem;
    
    & h1 {
      font-size: 0.8rem;
      margin-bottom: 0.5rem;
      margin-top: 1.5rem;
    }
  }

  .image {
    height: 4rem;
    width: 4rem;
    border-image-outset: 1.0rem;
    margin-bottom: 0;
    margin-top: 0;
  }

  p {
    font-size: 0.8rem;
    }

  p a {
    font-size: 0.6rem;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 2rem;
    }
}

